:root {
    --green: #85c59c;
    --orange: #f59200;
    --grey: #f3f3f3;
    --blue: #1d0d22;
}

.close {
    display: none;
}

.burger-icon a {
    display: none;
}

body {
    font-family: 'Azo Sans', sans-serif;
}

.sidenav {
    display: none;
}

.nav-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translateY(-200%);
}

header div:first-of-type {
    font-style: italic;
}

header {
    display: flex;
    justify-content: space-between;
    padding-inline: 254px;
    padding-block: 15px;
    font-size: 15px;
    flex-wrap: wrap;
}


.lang {
    color: grey;
}

header a {
    text-decoration: none;
    color: black;
    padding-left: 5px;

}

header div:nth-child(2) {
    font-weight: 800;
}

header a:hover {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    text-decoration-color: grey;
}

header span {
    padding-inline: 8px;
}

.presentation {
    background: var(--orange);
    position: relative;
    overflow: hidden;
}

.presentation .container {
    color: white;

    display: flex;
}

.presentation a {
    z-index: 0;
    line-height: 27px;
    padding-inline: 48px;
    border: 2px solid white;
    padding-block: 12px;
}


.presentation p {
    max-width: 510px;
    font-size: 20px;
    margin-bottom: 6em;
}

.presentation h2 {
    position: relative;
    padding-top: 74px;
    font-style: italic;
    font-size: 29px;
    font-weight: 600 !important;
    padding-left: 10px;
}

.presentation .block-left {
    margin-left: -8px;
    margin-top: 165px;
    z-index: 0;
}

.presentation img:first-of-type {
    width: 408px;
}


.presentation img:nth-child(2) {
    object-fit: cover;
    width: 943px;
    height: 769px;
    margin-top: 7em;
    margin-left: -6em;
    object-position: top;
    z-index: 0;
}


.presentation h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 1px;
    background: white;
    left: -2.3em;
    top: -69px;
    position: relative;
}


.nav a.logo::after {
    content: "";
    display: block;
    width: 330px;
    height: 2px;
    background: black;
    left: 214px;
    top: -22px;
    position: relative;
}

.nav a.logo {
    width: 541px;;
}

.nav {
    position: sticky;
    padding-block: 16px;
    top: 0;
    background: white;
    z-index: 9;
    font-size: 16px;
    font-weight: 600;
    padding-inline: 18em;;

}


.nav .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1379px;
    flex-wrap: wrap;
}

.listing {

    text-align: center;
    background-color: var(--green);
    color: white;
    padding-top: 46px;
    padding-bottom: 27px;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 11px;
    line-height: 49px;

}


.navbar {
    padding-block: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    padding-top: 20px;

}

.lang {
    font-size: 9px;
}

.nav a:hover {
    color: orange;
    text-decoration: underline;
}

.logo img {
    height: 52px;
}


.slide {

    background: linear-gradient(#f3f3f3, white);
}


.imgslide {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}


.right {
    padding-left: 38px;
    width: 30vw;
}

.right h3 {
    font-size: 31px;
    font-weight: 800;
    margin-top: 29px;
}

.right p:nth-child(5) {
    font-size: 17px;
    font-style: italic;
    font-weight: 500;
    padding-top: 21px;
}


.right p:nth-child(3) {
    font-weight: 600;
    font-size: 19px;
    line-height: 0;
    padding-top: 33px;
}


.left {
    width: 58vw;
}

.button {
    text-decoration: none;
    padding-block: 4px;
    padding-inline: 20px;
    margin-bottom: 30px;
    border-radius: 12px;
    line-height: 50px;
}

.btn-1 {
    background: #fca300;
    color: white;
    border: 1px solid white;
}

.btn-2 {
    text-decoration: none;
    padding-block: 12px;
    padding-inline: 45px;
    border-radius: 29px;
    line-height: 69px;
    background: #fca300;
    color: white;
    font-size: 12px;
    font-weight: 600;
}


.btn-2:hover {
    background: white;
    color: orange;
    border: 1px orange solid;
}

.btn-3:hover {

    color: white;
    background: #bdb6bd;

}

.btn-3 {
    text-decoration: none;
    padding-block: 15px;
    padding-inline: 61px;
    margin-bottom: 33px;
    border-radius: 12px;
    line-height: 50px;
    background: #e5e5e5;
    color: #BDB6B1;
    font-size: 11px;
    font-weight: 600;
}


.btn-4 {
    border: 3px solid var(--orange);
    color: var(--orange);
    padding-inline: 16px;
    border-radius: 27px;
    font-size: 16px;
    letter-spacing: 2px;
    padding-block: 8px;
    font-weight: 400;
    line-height: 0;

}

.btn-5 {

    color: white;
    background: var(--green);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 15px;

}


.btn-6 {
    background: white;
    color: var(--green);
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 15px;
    font-size: 15px;
}


.btn-7 {
    font-weight: bold;
    border: 2px solid black;
    border-radius: 50px;
    padding-inline: 13px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    background: white;
}

.btn-7:hover {
    background: black;
    color: white;
}

.btn-8 {
    background: var(--green);
    padding-inline: 39px;
    padding-block: 16px;
    color: white;
    font-weight: 700;
    border-radius: 24px;
    text-decoration: none;
    font-size: 24px;
    margin-top: 3%;
}


.btn-9 {
    background: var(--orange);
    color: white;
    border: 2px solid white;
    font-weight: 600;
    padding-block: 10px;
}

.btn-10 {
    color: white;
    background: var(--orange);
    letter-spacing: 2px;
    font-weight: 600;
}

.btn-11 {

    color: white;
    background: var(--orange);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 15px;

}

.title {

    font-size: 62px;
    font-weight: 900;
    color: black;
    line-height: 1;
}

.text-style a {
    color: var(--orange);
}

h2.title::before {
    content: url(pictures/stage-icon.svg);
    position: relative;
    left: -10px;
    top: 5px;
}

h2.title::after {
    content: url(pictures/stage-icon.svg);
    display: inline-block;
    transform: scaleX(-1);
    position: relative;
    left: 10px;
    top: 5px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mycard h4 {

    font-size: 25px;
    font-weight: 800;
    padding-top: 19px;

}


.mycard h4::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: white;
    top: 25px;
    position: relative;

}

.city {
    line-height: 0;
    padding-top: 40px;
    font-size: 18px;
    font-weight: 700;
}

.list-stages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.card {
    border: none !important;
    border-radius: 0 !important;
    font-size: 10px;
}


.flexcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.country {
    font-size: 10px;
    line-height: 0;
    color: grey;
}

.green {
    background: var(--green);
}


.presentation::before {
    content: "";
    background-image: url(pictures/rosase.png);
    width: 100%;
    max-width: 1032px;
    height: 100%;
    max-height: 918px;
    display: block;
    position: absolute;
    background-size: cover;
    right: -2%;
    top: 106px;
    background-repeat: no-repeat;
    z-index: 0;
}

.stage-link {
    margin-top: 68px;
    margin-bottom: 46px;
}

.stage-link a {
    color: black;
    font-size: 15px;
}


.text {

    background-color: #1d0d22;
    color: white;
    text-align: center;
    position: relative;
    padding-top: 100px;
    font-style: italic;
    z-index: 1;
    line-height: 46px;
    padding-bottom: 70px;
}


.text p {
    font-size: 40px;
    letter-spacing: 3px;
}

.text span {
    font-weight: 900;
    font-size: 57px;
    letter-spacing: 0;

}

.text::before {
    content: "";
    background-image: url(pictures/forme5.png);
    width: 100%;
    max-width: 444px;
    height: 105%;
    max-height: 918px;
    display: block;
    position: absolute;
    right: 38%;
    background-repeat: no-repeat;
    top: 7%;
    z-index: -1;
}

.prestations {
    padding-block: 48px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 121px;
}


.img-presta {
    width: 50%;
}

.prestations .description {
    background: var(--green);
    width: 46%;
    padding-block: 2px;
    padding-inline: 29px;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}


.description .p2 {
    font-size: 15px;
}

.description::after {
    content: "";
    background-image: url(pictures/forme12.png);
    width: 100%;
    max-width: 574px;
    height: 100%;
    max-height: 461px;
    display: block;
    position: absolute;
    background-size: cover;
    right: -39%;
    top: 134px;
    background-repeat: no-repeat;
}

.prestations h2 {
    font-weight: 900;
    font-size: 58px;
    margin-top: 53px;
    margin-right: 0;
    margin-bottom: 9px;
    line-height: 1;
}

.filternav {
    display: flex;
    justify-content: space-evenly;
    padding-left: 146px;
    padding-right: 146px;
    margin-top: 95px;
    position: relative;
    width: 100%;
    margin-bottom: 42px;
    flex-wrap: wrap;
}


.img-presta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description .p1 {
    font-style: italic;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
}

.description .p1::after {
    content: "";
    display: block;
    width: 76px;
    height: 2px;
    background: white;
    left: 0;
    top: -72px;
    position: relative;
}

.description a {
    width: 216px;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    padding-block: 24px;
    margin-top: 71px;
    line-height: 2px;
}


.coach {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 5em;
    position: relative;

}

.logo-text img {
    width: 231px;
    padding-top: 63px;
}




.img-coach {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.text-coach h4 {
    position: relative;
    padding-bottom: 10px;
}

.text-coach .after-one::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: var(--green);
    top: -1.8em;
    position: relative;
    left: 108px;

}

 .after-two::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: var(--grey);
    top: -1.8em;
    position: relative;
    left: 108px;
    color: var(--grey);
}

.text-coach .after-three::after {
    content: "";
    display: block;
    width: 40px;
    height: 2px;
    background: var(--orange);
    top: -1.8em;
    position: relative;
    left: 108px;

}

.text-coach p {
    padding-top: 20px;
}

.prestations::after {
    content: "";
    display: block;
    max-width: 600px;
    height: 2px;
    background: black;
    top: 6.2em;
    position: relative;
    margin-inline: auto;
    width: 100%;
}

.plogo {
    font-style: italic;
    font-size: 17px;
    margin-inline: 135px;
    line-height: 1.8;
    margin-top: 42px;
    text-align: center;
}

.pub img {
    background: #1d0d22;
    display: flex;
    height: 100%;
    width: 38.5%;
    object-fit: cover;
    object-position: left;
}

.pub {
    background: #1d0d22;
    display: flex;
    height: 837px;
}

.pub-text {
    width: 65%;
    color: white;
    font-size: 56px;
    padding-top: 122px;
    padding-inline: 72px;
    line-height: 46px;
    padding-bottom: 247px;

}

.decoration::after {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: var(--orange);
    top: 4em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.decoration::before {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background: var(--orange);
    top: -2em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-block button {
    margin-inline: 2em;
}

.avis h2 {
    font-weight: 900;
    color: #eeedee;
    font-size: 63px;
    line-height: 1.2;
    max-width: 948px;
    display: block;
}


.avis {
    margin-top: 68px;
    margin-bottom: 71px;

}

.coach-img img {
    padding-top: 2px;
    padding-bottom: 3px;
    padding-right: 10px;
    width: 395px;
    height: auto;
}

.boostez {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: end;
    margin-top: 176px;
    background: linear-gradient(white, #f3f3f3);

}

.boostez img {
    width: 660px !important;
}


.contact {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 113px;
}

.end-home {
    background: #1d0d22;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    /* height: 470px; */
    color: white;
    padding-top: 83px;
    padding-bottom: 50px;
}

.carousel-inner {
    padding-top: 4PX;
}

.end-home > img {
    width: 15%;
}

.end-home nav::after {
    content: "";
    display: block;
    max-width: 634px;
    height: 2px;
    background: var(--green);
    left: auto;
    right: auto;
    position: absolute;
    top: 7em;
    width: 100%;
}


.cover {
    width: 100%;
    height: 80%;
    object-fit: cover;
}

.div-cover {
    position: relative;
    height: 800px;
    overflow: hidden;

}

.div-cover::after {
    content: url(pictures/forme12.png);
    position: relative;
    top: -590px;
    right: -785px;
}

.over-img img {
    width: 100%;
    height: 100%;
    transform: translateY(-175%);
    position: relative;
}

.nav-end {
    margin-block: 20px;
    display: flex;
    justify-content: space-around;
    width: 45%;
    font-size: 13px;
    padding-top: 31px;
    letter-spacing: 1px;
    padding-bottom: 15px;
    position: relative;
}

.nav-end a {
    text-decoration: none;
    color: white;
}

.end-home .tel {
    font-weight: 700;
    font-size: 32px;
    line-height: 0;
    margin-top: 62px;
    position: relative;
}

.end-home .name {
    line-height: 0;
    letter-spacing: 5px;
    font-size: 7px;
    font-weight: 600;
}


.end-home .mail {
    font-size: 20px;
}

.end-home span {
    font-size: 10px;
}

.inscription .details-course {

    background-color: var(--orange);
    padding-inline: 20px;
    padding-top: 24px;
    width: 50%;
    color: white;
    overflow: hidden;
    z-index: 0;
    padding-bottom: 37px;

}

.details-course::after {
    content: "";
    background-image: url(pictures/forme7copie.png);
    width: 100%;
    max-width: 335px;
    height: 100%;
    max-height: 415px;
    display: block;
    position: relative;
    background-size: cover;
    right: -64%;
    top: -119%;
    background-repeat: no-repeat;
    z-index: -1;
}

.inscription .form {
    background: var(--blue);
    padding-block: 20px;
    padding-inline: 10px;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flew-wrap: wrap;
}

.form .btn-9 {
    display: table;
    padding-block: 1px;
}

.stage-title {
    text-align: center;
    position: relative;
}

.stage-title h3 {
    font-weight: 800;
    font-size: 51px;
    padding-top: 19px;
    position: relative;

}

.imgslide {

    margin-top: 19px;
}

.stage-title h4 {
    font-weight: 600;
    padding-top: 14px;
    font-size: 29px;
    line-height: 1;
}


.stage-title p {
    color: #bac6d3;
    font-size: 14px;
    letter-spacing: 6px;
    line-height: 1;
}


.form h3::before {
    content: "";
    display: block;
    width: 44px;
    height: 2px;
    background: var(--orange);
    bottom: 8px;
    position: relative;;

}

.card-img-overlay {
    top: 0;
    left: 28px;
}


.form h3::after {
    content: "";
    display: block;
    width: 44px;
    height: 2px;
    background: var(--orange);
    top: 9px;
    position: relative;
}


.form input {
    height: 66px;
    width: 46%;
    margin-block: 11px;
    margin-inline: 10px;
    padding-left: 19px;

}

.form textarea {
    margin-block: 10px;
    margin-inline: 10px;
    width: 95%;
    height: 200px;
    padding: 10px;
}

.input {
    text-align: center;


}

.more-details {
    color: #bac6d3;
}

.details-course .price {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

.details-course .number {
    font-size: 31px;
    font-weight: 600;
    line-height: 1;
    padding-left: 10px;
}

.details-course .places {
    letter-spacing: 3px;
    padding-left: 11%;
    font-size: 18px;
    line-height: 0;
}

.details-course .description {
    font-style: italic;
    padding-top: 26px;
    position: relative;
    padding-left: 13px;
    font-size: 20px;
    padding-bottom: 39px;

}

.details-course .description::before {
    content: "";
    display: block;
    width: 49px;
    height: 3px;
    background: white;
    top: 6%;
    position: absolute;
    left: 7px;
}

.details-course .description::after {
    content: "";
    display: block;
    width: 49px;
    height: 3px;
    background: white;
    top: 18px;
    position: relative;
    left: 7px;
}

.bold {
    font-weight: 700;
    padding-left: 19px;
    line-height: 0;
}

.form h2 {
    font-size: 41px;
    font-weight: 800;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: 1;

}

.form span {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    color: white;
    vertical-align: middle;
    text-underline-offset: 3px;
}

.links {
    text-align: right;
    margin-right: 42PX;
    transform: translateY(16px);
    font-size: 19px;
}

.more-details {
    display: inline-block;
}


.form h3 {
    padding-left: 19px;
    font-weight: 900;
    font-size: 30px;
    position: relative;
}

.stage-title h3::after {


    content: "";
    display: block;
    width: 49px;
    height: 3px;
    background: var(--orange);
    bottom: -10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);


}


.more-details-black {
    margin-left: 54px;
    font-weight: 500;
    font-size: 19px;
    color: black !important;
}

iframe {
    width: 100%;
    height: 465px;
    text-align: center;
    /* padding-block: 73px; */
    margin-top: 91px;
    margin-bottom: 73px;
}

.only-contact {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.text-style {
    margin-top: 111px;
    position: relative;
    margin-bottom: -1%;
    max-width: 46%;

}

.text-style h1 {
    font-size: 50px;
    color: black;
    font-weight: 900;
    line-height: 1;
    position: relative;
}

.text-style h2 {

}

.text-style span {
    color: var(--orange);
    font-style: italic;
    font-size: 19px;
    font-weight: 600;
}


.text-style h1::after {
    content: "";
    display: block;
    width: 368px;
    height: 2px;
    background: var(--blue);
    bottom: -1em;
    position: absolute;
    left: -2em;

}

.text-style h1::before {
    content: "";
    display: block;
    width: 368px;
    height: 2px;
    background: var(--blue);
    top: -33px;
    position: relative;
    left: -2em;

}

.content-stage {
    margin-inline: 9%;

}

.content-stage a {
    color: var(--orange);
}

.text-link {
    color: var(--orange);
}

.content-stage h2 {
    font-weight: 600;
    font-size: 24px;
    color: black;
}

.text-style h2 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 57px;
    padding-top: -36px;
}

blockquote {


    color: grey;
    font-style: italic;
    font-size: 28px;
    font-weight: 500;
    padding-left: 42px;
    line-height: 1;
    position: relative;
    border-left: 10px solid grey;
    margin-top: 63px;
    margin-left: -108px;

}


hr {
    margin-inline: 10%;
}

.other-stages {

    margin-block: 19px;

}

.other-stages .view-card {

    margin-right: 29px;
    border: 2px solid var(--grey);
    padding-block: 0;
    padding-inline: 0;
    width: 631px;
    height: 261px;
}


.other-stages .swiper {
    width: 100%;
    height: 247px;
    margin-top: -15px !important;
}


.more-details-center {


    text-align: center;
    color: var(--blue);
    display: block;
    margin-bottom: 126px;
    margin-top: 57px;
    font-size: 16px;


}

.carouselcard {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}


.mycarousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.mycarousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}


.carousel ul li {
    list-style-type: none;
}

.view-card {

    margin-right: 29px;
    border: 2px solid var(--grey);
    padding-block: 41px;
    padding-inline: 20px;
    width: 431px;
    height: 261px;

}


.view-title {
    color: black !important;
    font-size: 31px !important;
    font-weight: 600 !important;
    line-height: 0;
    padding-top: 27px;
    padding-bottom: 12px;
}

.card-content {
    margin-top: 18px;
    font-style: italic;
    color: #b1a9b2;
    font-size: 20px;
    font-weight: 300;
}

.flex {
    display: flex;
    justify-content: center;
}

.green {
    background: var(--green);
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
}

.grey {
    background: grey;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.grey::after {
    content: "";
    display: inline-block;
    width: 289px;
    height: 311px;
    background: url(pictures/Capture_d_écran_du_2022-05-20_10-28-49-removebg-preview.png) no-repeat;
    background-size: 100%;
}

.orange::after {
    content: "";
    display: inline-block;
    transform: scaleX(-1);
    width: 201px;
    height: 216px;
    background: url(pictures/Capture_d_écran_du_2022-05-20_10-28-49-removebg-preview.png) no-repeat;
    background-size: 100%;
}

.green::after {
    content: "";
    display: inline-block;
    width: 201px;
    height: 216px;
    background: url(pictures/Capture_d_écran_du_2022-05-20_10-28-49-removebg-preview.png) no-repeat;
    background-size: 100%;
}

.orange {
    background: var(--orange);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
}

.text-coach {

    text-align: center;
    padding-top: 30px;
    margin-inline: 100px;
    position: relative;
}


.text-coach span {
    color: #b1a9b2;
    letter-spacing: 3px;
}

.coach p {
    font-size: 15px;
    font-style: italic;
    max-width: 68%;
    margin: auto;
    padding-top: 12px;
    line-height: 1.6;
}

.coach span {
    font-size: 17px;
    letter-spacing: 6px;
    padding-top: 36px;
    display: block;
}


.text-coach p {
    font-style: italic;
    font-size: 16px;
}

.text-coach h4 {
    font-weight: 900;

}

.details-contactform {

    background-color: var(--orange);
    padding-inline: 20px;
    padding-block: 20px;
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.details-contactform .img-form {
    width: 100%;
}

.form h2 {
    color: var(--orange);
}

.inscription {


    background: linear-gradient(#f3f3f3, white);
    position: relative;
    padding-top: 75px;

}

.arrow {

    border-radius: 23px;
    border: grey 2px solid;
    padding-inline: 26px;
    width: 46px;
    height: 32px;
    background-image: url(pictures/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: 30px 30px;
    align-self: center;
    padding-block: 17px;
}

.title-carousel {
    padding-inline: 4px;
    padding-top: 67px;
}

.arrow-reverse {
    transform: scaleX(-1);
    border-radius: 23px;
    border: grey 2px solid;
    padding-inline: 26px;
    width: 46px;
    height: 32px;
    background-image: url(pictures/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    background-size: 30px 30px;
    align-self: center;
    padding-block: 17px;


}


.arrow-block {
    width: 151px;
    display: flex;
    justify-content: space-between;
    margin-right: 23%;
    margin-bottom: 27px;
}


.previous-stages {
    opacity: 0.33;
}

.gradient {
    padding-top: 50px;
    background: linear-gradient(#f3f3f3, white);
    padding-bottom: 34px;

    margin-top: 80px;

}


.filter {
    cursor: pointer;
}

.box {

    display: flex;
}

.box:not(:first-of-type) {
    display: none;
}

.avis .swiper {

    width: 100%;
    height: 300px;
    margin-top: 86px;

}

.background {
    background-image: url(pictures/calque8.png);
    width: auto;
    height: 663px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    background-position: bottom;

}

.background::after {
    content: "";
    background: url(pictures/forme16.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    min-height: 170px;
    left: 0;
    bottom: 0;
    height: 100%;
    background-position: bottom;


}

.background::before {
    content: "";
    background: url(pictures/forme12.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 683px;
    left: 40em;
    bottom: -21px;

}


.reverse {
    transform: scaleX(-1);
    margin-left: 4px;
}


.coach.active img {
    width: 400px;
    height: 500px;
}

.coach-img {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 454px;
    width: 453px;
    padding-bottom: 9px;
}

.coach h4 {
    font-size: 31px;
    font-weight: 800;
    line-height: 0;
    letter-spacing: 1px;
}

.coach-img::after {


    content: "";
    position: absolute;
    width: 320px;
    height: 320px;
    border-radius: 210px;
    z-index: -1;
    top: 4.5em;
    left: auto;
    right: auto;
    margin-left: 1em;

}

.coach:nth-child(1) .coach-img::after {
    background: var(--green);

}


.coach:nth-child(2) .coach-img::after {
    background: grey;

}

.coach:nth-child(3) .coach-img::after {
    background: var(--orange);

}


.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
body::after {
    background: url(pictures/contenu.jpg);
    content: "";
    position: absolute;
    width: 1600px;
    height: 16000px;
    z-index: -1;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    top: 0;
    left: 50%;
    display: block;

    transform: translateX(-50%);
}

body * {
    opacity: 0.9;
}*/

@media (max-width: 1200px) {
    header {

        padding-inline: 50px;

    }

    blockquote {
        margin: 0;
    }

    .title {
        font-size: 50px;
        font-weight: 900;
        color: black;
        line-height: 1;
    }

    .text-style {
        max-width: 90%;
    }

    .text-style::after {

        top: 294px;

    }

    .btn-6 {

        font-size: 12px;
    }

    .form h2 {
        font-size: 28px;
    }

    .inscription .container {
        max-width: 100%;
    }


    .presentation h2::after {

        display: none;

    }

    .listing {
        text-align: center;
        background-color: var(--green);
        color: white;
        padding-top: 40px;
        padding-bottom: 27px;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 11px;
        line-height: 35px;
    }

    .nav {
        position: sticky;
        padding-block: 16px;
        top: 0;
        background: white;
        z-index: 9;
        font-size: 16px;
        font-weight: 600;
        padding-inline: 3em;
    }

    .nav a.logo::after {
        display: none;

    }

    .nav a.logo {
        width: 200px;
    }

    .card {
        border: none !important;
        border-radius: 0 !important;
        font-size: 10px;
        width: 30%;
    }

    .mycard h4 {
        font-size: 15px;
        font-weight: 700;
    }

    .card-img-overlay {
        top: -12px;
    }

    .btn-7 {

        font-size: 11px;

    }

    .block-coach {
        flex-direction: column;
    }

    .coach {

        margin-block: 1em;

    }

    .filternav {
        display: flex;
        justify-content: space-between;
        margin-top: 95px;
        position: relative;
        padding-inline: 0;
        width: 100%;
        margin-bottom: 42px;
    }

    .prestations .description {
        background: var(--green);
        width: 50%;
        padding-block: 2px;
        padding-inline: 29px;
        color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    .right {
        padding-left: 38px;
        width: 30vw;
        padding-top: 5px;
    }

    .text span {
        font-size: 30px;

    }

    .text p {
        font-size: 20px;
    }


    .end-home nav::after {
        content: "";
        display: block;
        width: 634px;
        height: 2px;
        background: var(--green);
        left: auto;
        right: auto;
        top: 7em;
        position: absolute;
    }

    .nav-end {
        margin-block: 20px;
        display: flex;
        justify-content: space-around;
        width: 90%;
        font-size: 13px;
        padding-top: 31px;
        letter-spacing: 1px;
        padding-bottom: 15px;
        position: relative;
        flex-wrap: wrap;
    }

    .pub {

        flex-direction: column;


    }

    .pub img {
        width: 100%;
        Height: auto;
        object-position: top right;
        max-height: 448px;
    }

    .pub-text {

        padding-inline: 72px;
        line-height: 1;
        padding-block: 40px;
        text-align: center;
        font-size: 15px;
        width: 100%;
    }

    .decoration {
        position: relative;
    }


    .avis {

        margin: 20px;
    }


    .prestations {

        margin-bottom: 0;
    }

    .prestations::after {

        top: 3.2em;

    }

    .boostez {

        margin-top: 30px;
    }


    .contact {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-bottom: 30px;
    }


    @media (max-width: 992px) {

        .text-style::after {

            top: 196px;

        }

        .title {
            font-size: 40px;

        }

        .inscription .container {
            max-width: 100% !important;
        }

        .text-style {
            margin-inline: 0;
        }

        .content-stage {
            margin-inline: 0;
        }

        .inscription .d-flex {
            flex-direction: column;
        }

        .inscription .details-course, .inscription .form {
            width: 100%;
        }

        .form h2 {
            font-size: 35px;

        }

        .grey-vertical-after {
            font-size: 24px;
        }

        .stage-title h3 {
            font-weight: 800;
            font-size: 30px;

        }

        .text-style h2 {
            font-size: 30px;
        }


        .more-details-black {

            font-size: 12px;

        }

        .form h3 {
            padding-left: 19px;
            font-weight: 900;
            font-size: 22px;
            padding-top: 23px;
            position: relative;
        }

        .links {

            font-size: 12px;
        }

        .pub {
            height: auto;
        }

        header {
            padding-inline: 22px;
        }

        .presentation img:nth-child(2) {
            width: 848px;
            height: 803px;
            margin-top: 7em;
            margin-left: -4em;
        }

        .listing {

            font-size: 13px;
            font-weight: 600;
            letter-spacing: 6px;
            line-height: 1.5;


        }

        .nav {

            font-size: 11px;
            font-weight: 600;
            padding-inline: 1em;
        }

        .resp-column {
            flex-direction: column
        }
    }

    .left, .right {
        width: 100%;
    }

    .right {
        padding-top: 30px;
    }

    .mycard h4 {
        font-size: 18px;

    }

    .card-img-overlay {
        top: -20px;
        left: 10px;
        padding-inline: 1px !important;

    }

    .card-img-overlay p {
        margin: 0;
    }

    .text::before {

        right: 11%;

    }

    .text {

        padding-top: 30px;

        padding-bottom: 30px;
    }

    .prestations {
        padding: 10px;
    }

    .prestations .container {
        max-width: 100%;
    }

    .prestations {
        margin-inline: 10px;
    }

    .view-card {

        width: 662px;

    }

    .coach.active img {

        padding-top: 52px;
    }

    .box {
        flex-direction: column;
        width: 100%;
    }

    .img-presta {
        width: 100%;
    }

    .description {
        width: 100% !important;
    }

    .other-stages .swiper {

        margin-top: 24px !important;
    }

    .other-stages h2 {
        font-size: 18px
    }
}

@media (max-width: 768px) {


    header {
        font-size: 10px;
    }

    .presentation img:nth-child(2) {
        width: 853px;
        height: 425px;
        margin-top: 26em;
        margin-left: 0;
    }

    .title {
        font-size: 40px;

    }

    .btn-7 {
        margin: 5px;
    }

    .list-stages {
        flex-direction: column;
    }

    .card {
        border: none !important;
        border-radius: 0 !important;
        font-size: 10px;
        width: 65%;
        height: 200px;
        margin-bottom: 30px;
    }

    .mycard h4 {
        font-size: 15px;
        padding-bottom: 50px;
    }

    .mycard h4::after {
        display: none;
    }

    .avis h2 {

        font-size: 27px;
        padding-top: 50px;

    }

    .prestations h2 {
        font-size: 27px;
    }

    .nav-end a {
        padding-inline: 2px;
    }

    .nav a {
        padding-inline: 2px;
    }

    .filternav button {
        padding-inline: 7px;
    }

    .details-course .description::before {
        display: none;
    }

    .other-stages .view-card {
        width: 100% !important;
    }

    .other-stages .swiper {

        margin-top: 24px !important;
    }
}

@media (max-width: 576px) {
    .text-style span {

        font-size: 17px;

    }

    .text-style h1 {
        font-size: 24px;
    }

    .form h2 {
        font-size: 20px;
        line-height: 2;

    }

    .details-course .number {
        font-size: 20px;

    }

    .details-course .places {

        font-size: 14px;

    }

    .bold {

        line-height: 1;
    }

    .details-course .description {

        font-size: 15px;

    }

    .title {
        font-size: 30px;
    }

    .form input {

        width: 80%;

    }

    .form span {
        font-size: 9px;

    }

    .grey-vertical-after {
        font-size: 19px;
    }

    .close-btn {
        color: var(--green);
        border: 1px solid var(--green);
        padding-inline: 10px;
        padding-block: 1px;

        margin-left: 10px;

    }

    .logo {
        margin-block: 20px;
    }

    .sidenav {
        display: block;
        height: 100%;
        width: 250px;
        position: fixed;

        top: 0;
        left: -250px;
        background-color: white;
        padding-top: 60px;
        transition: left 0.5s ease;
        z-index: 9;
    }

    /* Sidenav menu links */
    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 20px;
        color: black;
        display: block;
        transition: 0.3s;

    }

    .sidenav a:hover {
        color: #111;
    }

    .sidenav .container {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Active class */
    .sidenav.active {
        left: 0;
    }

    /* Close btn */
    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }

    /* Icône burger */
    .burger-icon span {
        display: block;
        width: 35px;
        height: 2px;
        background-color: black;
        margin: 7px auto;
        cursor: pointer;

    }

    .burger-icon {
        position: relative;
    }


    .nav a.logo {
        width: 305px;
        margin: auto;
        text-align: center;
    }

    .nav a:not(.logo) {
        display: none;
    }

    header div:first-of-type {
        width: 100%;
        padding-block: 10px;

    }

    .presentation img:first-of-type {

        width: 272px;
    }


    .presentation .block-left {
        margin-left: 5%;
        width: 100%;
    }

    .presentation h2 {
        padding-left: 0;

    }

    .presentation img:nth-child(2) {
        max-width: 359px;
        width: 100%;
        height: 310px;
        margin-top: 1em;
        margin-left: 0;


    }

    .presentation .container {

        flex-direction: column;
    }

    .presentation p {


        margin-bottom: 2em;
        font-size: 16px;
        width: 80%;
    }

    .presentation h2 {


        padding-top: 20px
    }

    .presentation .block-left {

        margin-block: 20px;
    }

    .listing {
        font-size: 17px;
    }

    .title {
        font-size: 20px;
    }

    .arrow-reverse {

        padding-inline: 16px;
        background-size: 12px 12px;
        padding-block: 9px;
        margin-top: -40px;
    }

    .arrow {
        padding-inline: 16px;
        background-size: 12px 12px;
        padding-block: 9px;
        margin-top: -40px;
    }

    .card {

        width: 89%;
    }


    .text p {
        font-size: 13px;
    }

    .plogo {

        margin-inline: 30px;

    }

    .avis h2 {
        font-size: 20px;
        padding-top: 30px;
        font-weight: 500;
    }

    .arrow-block {
        width: 115px;
    }


    .boostez img {
        width: 353px !important;
    }


    .end-home nav::after {
        display: none;

    }

    .end-home > img {
        width: 41%;
    }

    .nav-end {
        flex-direction: column;
        text-align: center;
    }


    .stage-link {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    text p {
        font-size: 11px;
    }

    .prestations .description {
        background: var(--green);
        width: 50%;
        padding-block: 2px;
        padding-inline: 15px;
        color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
    }

    .description::after {
        display: none;
    }

    .description .p1::after {

        display: none;

    }

    .prestations {
        margin: 0;
        padding: 0;
    }

    .pub-text {

        font-size: 13px;
    }

    .prestations h2 {

        margin-top: 37px;

    }

    .filternav {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        position: relative;
        padding-inline: 0;
        width: 100%;
        margin-bottom: 42px;
    }

    .description a {

        margin-top: 12px;

    }

    .view-card {
        width: 90%;
        height: 300px;
    }

    .logo-text img {
        width: 231px;
        padding-top: 99px;
    }

    .coach-img {

        margin-bottom: 58px;
    }

    .nav-end {
        padding-block: 0;

    }

    .btn-8 {

        font-size: 13px;

    }

    .title-carousel {

        padding-top: 10px;
        flex-wrap: wrap;
    }

    .right {
        padding-left: 6px;

    }

    .listing br {
        display: none;
    }

    .listing {
        font-size: 13px;
    }

    .view-title {

        font-size: 20px !important;
        font-weight: 600 !important;

    }

    .card-content {

        font-size: 14px;

    }

    .pub-text {

        font-size: 11px;

    }

    .title {
        font-size: 27px;
        width: 100%;
        height: 73px;
    }

    .burger-icon a {
        display: block;
        text-align: center;
    }

    .head-slider {
        flex-direction: column;
        align-items: center !important;
    }

    .arrow-block {

        padding-top: 54px;
    }

    .avis h2 {
        font-size: 39px;
    }
}

.avis .swiper {

    margin-top: 12px;
}
