@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Italic.woff2') format('woff2'),
        url('../fonts/AzoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Lt';
    src: url('../fonts/AzoSans-Light.woff2') format('woff2'),
        url('../fonts/AzoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Italic.woff2') format('woff2'),
        url('../fonts/AzoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('../fonts/AzoSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Bold.woff2') format('woff2'),
        url('../fonts/AzoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('../fonts/AzoSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Bold.woff2') format('woff2'),
        url('../fonts/AzoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('../fonts/AzoSans-Medium.woff2') format('woff2'),
        url('../fonts/AzoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('../fonts/AzoSans-Medium.woff2') format('woff2'),
        url('../fonts/AzoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Bold.woff2') format('woff2'),
        url('../fonts/AzoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('../fonts/AzoSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Regular.woff2') format('woff2'),
        url('../fonts/AzoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Lt';
    src: url('../fonts/AzoSans-Light.woff2') format('woff2'),
        url('../fonts/AzoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Italic.woff2') format('woff2'),
        url('../fonts/AzoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Regular.woff2') format('woff2'),
        url('../fonts/AzoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Lt';
    src: url('../fonts/AzoSans-Light.woff2') format('woff2'),
        url('../fonts/AzoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Italic.woff2') format('woff2'),
        url('../fonts/AzoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('../fonts/AzoSans-Medium.woff2') format('woff2'),
        url('../fonts/AzoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('../fonts/AzoSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans';
    src: url('../fonts/AzoSans-Regular.woff2') format('woff2'),
        url('../fonts/AzoSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('../fonts/AzoSans-BlackItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('../fonts/AzoSans-Black.woff2') format('woff2'),
        url('../fonts/AzoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Tn';
    src: url('../fonts/AzoSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('../fonts/AzoSans-Black.woff2') format('woff2'),
        url('../fonts/AzoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Tn';
    src: url('../fonts/AzoSans-Thin.woff2') format('woff2'),
        url('../fonts/AzoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Tn';
    src: url('../fonts/AzoSans-Thin.woff2') format('woff2'),
        url('../fonts/AzoSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Tn';
    src: url('../fonts/AzoSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Md';
    src: url('../fonts/AzoSans-MediumItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Tn';
    src: url('../fonts/AzoSans-ThinItalic.woff2') format('woff2'),
        url('../fonts/AzoSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Azo Sans Bk';
    src: url('../fonts/AzoSans-Black.woff2') format('woff2'),
        url('../fonts/AzoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

